:root{
    --background-colorPage:beige ;
    --background-calculator:black;
    --text-coor:black;
    --background-operator: rgb(245, 146, 60);
    --background-operand: rgb(33, 124, 126);
    --background-button:rgb(0, 89, 255);
    --focus-active-operators: #ffc183;
    --active-number-decimal:#33b9bb;
    --active-sign-percent:rgb(123, 189, 255);
    font-family: monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--background-colorPageolor);
    display: flex;
    justify-content: center;
    align-items:center;
}

.calculator{
    width: 23rem;
    height: 65%;
    box-shadow: 4px 4px 30px rgb(0,0,0,0.3);
    background-color:var(--background-calculator);
    overflow: hidden;
    border-radius: 5px;
    border: 10px solid rgb(47, 61, 72);
}


form{
    border: 4px solid black;
}

form input{
    height: 6rem;
    width: 100%;
    font-size: 2.5rem;
    padding: 1rem;
    color:var(--text-coor);
    background-color: rgb(209, 202, 202);
    text-align: right;
    pointer-events: none;    
}

.small-full-display{
    height: 5rem;
    font-size: 1.5rem;
}
/* form input {
    height: 8rem;
    width: 100%;
    border: 4px solid black;
    font-size: 3rem;
    padding: 1rem;
    color:var(--text-coor);
    background-color: rgb(209, 202, 202);
    text-align: right;
    pointer-events: none;    
} */

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;

}

button {
    flex: 0 0 23%;
    margin: 0.35rem 0;
    border: 1px solid black; 
    width: 2rem;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

}


.clear, .sign, .percent, .delete{
    background-color: var(--background-button);
}

.operator{
    background-color: var(--background-operator);
}

.operand,.equals, .decimal{
    background-color: var(--background-operand);
}
/* 
#zero{
    flex-grow: 0.8;
} */
.operator:focus {
    background-color: var(--focus-active-operators)
}
.equals:focus{
    background-color: var(--active-number-decimal);
}
.operand:active {
    background-color: var(--active-number-decimal)
}
.decimal:active {
    background-color: var(--active-number-decimal)
}
.clear:active {
    background-color: var(--active-sign-percent)
}
.sign:active {
    background-color: var(--active-sign-percent)
}
.percent:active {
    background-color: var(--active-sign-percent)
}
